<div class="container">
    <!-- Default form register -->
<form  method="POST" action="/auth/signup" class="text-center border border-light p-5" id="signup-page">

    <h2 class="mb-4" id="signup">Sign up</h2>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input type="text" name="firstname" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <!-- Last name -->
            <input type="text" name="lastname" class="form-control" placeholder="Last name">
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <!-- DOB -->
            <input type="date" name="dob" class="form-control" placeholder="">
        </div>
        <div class="col">
            <!-- Last name -->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="defaultchecked" value="female" name="gender" checked>
              <label class="custom-control-label" for="defaultchecked">Female</label>
             </div>
             <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="defaultUnchecked" value="male" name="gender">
              <label class="custom-control-label" for="defaultUnchecked">Male</label>
            </div>
        </div>
        <small class="form-text mb-4">
        These help with land use demographics
        </small>
    </div>

    <!-- E-mail -->
    <input type="email" name="email" id="defaultRegisterFormEmail" class="form-control mb-4 validate" placeholder="E-mail">

    <!-- Password -->
    <input type="password" name="password" id="defaultRegisterFormPassword" class="form-control validate" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small class="form-text mb-4">
        At least 8 characters and 1 digit
    </small>

    <!-- Sign up button -->
    <button class="btn btn-primary my-4 btn-block" id="signup-submit" type="submit">Sign up!</button>

    <p>Already a member?
        <a class="btn btn-primary" href="/auth/login">Login</a>
    </p>

</form>
</div>

