<ul class="nav nav-pills justify-content-end nav-justified">
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Sign Up</a>
  </li>
</ul>