<ul class="nav nav-pills justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="login" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Sign Up</a>
  </li>
</ul>