<div class="container">
	<img id="home-logo" src="http://res.cloudinary.com/surfjon2/image/upload/v1535988148/wisi-home-logo.png">
</div>
<br>

<div class="shadow-lg" id="home-pic-div">
	<img id="home-pic" src="http://res.cloudinary.com/surfjon2/image/upload/v1535984506/wisi-home.jpg">
</div><br>

<div class="container">
	<h3 class="wisi"><u>What is WISI?</u></h3>
	<h5 class="wisi">WISI is an online platform allowing those who participate in outdoor activities to contribute to scientific knowledge that can be used to improve their outdoor experience. </h5><br>
	<h3 class="wisi"><u>Who is WISI for?</u></h3>
	<h5 class="wisi">WISI is for everyone! But it is epecially helpful when users get outside and share what they see with local scientists and managers.</h5><br>
	<h3 class="wisi"><u>How do I use it?</u></h3>
	<h5 class="wisi">It's easy! Just sign up for an account and begin adding sightings that you've seen. We'll collect some data about you and trip to help with land use demographics while also cataloging any wildlife you've seen. When you've added a sighting it will appear on you "past sightings" map so you can see where you're seeing stuff the most.</h5><br>
	<h3 class="wisi"><u>What does WISI mean?</u></h3>
	<h5 class="wisi">It's our clever attempt to combine "<strong>WI</strong>ldlife" and "<strong>SC</strong>ience"... Ok, maybe it's not so clever but it sounds like WIFI and we love WIFI so we stuck with it. </h5>
</div>
	
