body {
	background-color: #5A5A5B;
}

label {
	color: white;
	text-shadow: 2px 2px black;
}

hr {
	color: white;
}



.navbar{
	background-color: #3F3F40;
	/*overflow: hidden;*/
}

#background-image {
	z-index: -1;
	position: fixed;
	opacity: 0.4;
}

#login {

}

#logo {
	height: 60%;
	width: 60%;
	margin: 0;
	/*padding-right: 10px;*/
}


#map {
	height: 800px;
	width: 100%;
}

#newsight-head {
	color: white;
	text-shadow: 2px 2px black;
	text-align: center;
}
